.sidebar{
    height: 100vh;
    position: fixed;
    top:72px;
    padding-left: 5px;
    width: 50px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}
.sidebar img{
    margin-bottom: 40px;
}
.sidebar .home
{
    margin-top:15px;
}
.sidebar img:hover{
    box-shadow: 0px 0px 8px  #534e4e;
}
